<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Nova Categoria
</button>

<card cardTitle="">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th class="text-center">Nome</th>
        <th class="text-center">Gerênciar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categorie of listCategories; let index = index">
        <td>
          {{index}}
        </td>
        <td>
          {{categorie.nome}}
        </td>
        <td>
          <button (click)="deleteCategoria(categorie._id)" class="btn btn-danger">Deletar</button>     
        </td>
      </tr>
    </tbody>
  </table>
</card>







<!-- MODAL DE CADASTRO DE CATEGORIAS -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nova Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- FORMULÁRIO DE CADASTRO DE CATEGORIAS -->
        <form class="form-group"  [formGroup]="categoriaForm">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="form-group">
                <label for="">Nome</label>
                <input class="form-control rounded" formControlName="nome" placeholder="" type="text" />
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createCategories()">Salvar</button>
      </div>
    </div>
  </div>
</div>