<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Novo app
</button>

<!-- MODAL DE CADASTRO DE CATEGORIAS -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Novo App</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- FORMULÁRIO DE CADASTRO DE CATEGORIAS -->
        <form class="form-group"  [formGroup]="appsForm">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="form-group">
                <label for="">Nome</label>
                <input class="form-control rounded" formControlName="nome" placeholder="" type="text" />
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createCategories()">Salvar</button>
      </div>
    </div>
  </div>
</div>